.event {
  position: absolute;
  width: 80%;
  background-color: cornflowerblue;
  z-index: 1;
  border-radius: 8px;
  padding: 8px;
  color: #fff;

  &__title {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-bottom: 8px;
  }

  &__deleteBtn {
    display: flex;
    justify-content: right;
    align-items: flex-end;
    display: inline-block;
    background-color: transparent;
    cursor: pointer;
    border: none;

    &:hover {
      font-weight: bold;
      color: #ff0000;
    }
  }

  &:hover {
    font-weight: bold;
    background-color: blue;
  }
}
