.header {
  display: flex;
  justify-content: space-between;
  height: 60px;
  padding: 0 48px;
  align-items: center;
}

.create-event-btn {
  color: #ffffff;
  padding: 0 16px;
  background: linear-gradient(black, #e20000);

  &__icon {
    margin-right: 8px;
  }
}

.navigation__today-btn {
  position: relative;
  background: linear-gradient(#2b8eff, #fff34c);
}

.navigation {
  &__today-btn {
    margin-left: 32px;
    padding: 0 16px;
  }

  &__nav-icon {
    font-size: 16px;
    margin-left: 20px;
  }

  &__displayed-month {
    margin-left: 10px;
  }
}

.fa-chevron-left:hover {
  transform: scale(150%);
  color: #e20000;
}

.fa-chevron-right:hover {
  transform: scale(150%);
  color: #2b8eff;
}
